---
// Importas tu layout base y el componente Svelte
import Layout from '@layouts/Layout.astro';
import GameSvelte from '@components/client/Game.svelte';

import { PROJECT_NAME } from '@constants';

import { tweets } from '@utils/tweets';

import { translationsForLocaleWithPrefix } from '@utils/translation';
const { locale } = Astro.locals;

const gameTranslatedTexts = translationsForLocaleWithPrefix(locale, 'game.');

// Aquí harías tu lógica real: leer el CSV o Collection
// const gameData = await getCollection('tweets');
// const formattedData = ...

interface Props {
  gameMode?: 'classic' | 'guess-ceo' | 'stocks-only' | 'who-said-what';
}

const { gameMode = 'classic' } = Astro.props;
---

<Layout title={PROJECT_NAME}>
  <main>
    <GameSvelte client:load locale={locale} texts={gameTranslatedTexts} data={tweets} gameMode={gameMode} />
  </main>
</Layout>

<style>
  main {
    min-height: 670px;
  }
</style>