---
import Dropdown from './Dropdown.astro';
import { getAriaCurrentPage } from '@utils/a11y';

const { homeLocale: home, t } = Astro.locals;

interface Props {
  class?: string;
  [key: string]: any;
}

const { class: className, ...attributes } = Astro.props;

const menuItems : { href: string; label: string }[] = [
  { href: `${home()}#top`, label: t('nav_classic_game') },
  { href: `${home()}guess-ceo`, label: t('nav_guess_ceo_game') }
];
---

<Dropdown {...attributes}
  class:list={["navigation-menu", className]}
  position="left"
  iconName="hamburger"
  iconOpenName="close"
  iconSize={32}
  includeChevron={false}
  mobileOnly={true}
  buttonAriaLabel={t('nav_menu_button_label')}>
  {menuItems.map(item => {
      const ariaCurrent = getAriaCurrentPage(Astro.url.pathname, item.href);
      return (
      <li><a class:list={["dropdown-link", { "is-active": ariaCurrent === 'page' }]} href={item.href} aria-current={ariaCurrent}>{item.label}</a></li>
    )})}
</Dropdown>